<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" type="text/css" />
		<link rel="stylesheet" href="../../assets/css/burger_styles.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
		<title>Burger Joint!</title>
	</head>
	<body>
		<section class="hero is-medium is-warning is-bold is-small">
			<div class="hero-body">
				<div class="container header has-text-centered">
					<img src="../../assets/img/Artboard1.png">
					<h1>Burger Joint</h1>
					<h3>Come and get it!</h3>
					
				</div>
			</div>
		</section>
		
		{{{ body }}}
		
	</body>
</html>